$PRIMARY_COLOR: #de4747;
$SUCCESS_COLOR: #4caf50;
$DARK_COLOR: #757575;
$WARNING_COLOR: #ffee58;
$ERROR_COLOR: #ceb4b4;
$LOGIN_MESSAGE_MAX_WIDTH: 924px;
$ONE_HUNDERED: 100%;
$WHITO: #fff;
$BLACK: rgba(0, 0, 0, 0.85);
$PINK_COLOR: #ffe5e5;
$PROFILE_BANNER_MAX_WIDTH: 1663px;
$spacer: 1rem;
$table-cell-padding-sm: .3rem !default;
$table-bg: transparent !default;
$table-cell-padding: .75rem !default;
$gray-300: #dee2e6 !default;
$table-border-width: 1px !default;
$table-border-color: $gray-300 !default;
$body-bg: $WHITO !default;



//Dark Theme
$DARK_THEME_BG: #424242;